name: Build and deploy on Github Pages

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

on:
  workflow_dispatch:
  push:
    tags:
      - "v-*"
jobs:
  build:
    name: Build Release and Debug
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      # Build Release
      - name: Build Release Project
        run: pio run --environment ulanzi
      - name: Build Release Filesystem Image
        run: pio run --target buildfs --environment ulanzi
      - name: Collect Release artifacts
        run: |
          mkdir artifacts
          cp .pio/build/ulanzi/bootloader.bin artifacts/
          cp .pio/build/ulanzi/partitions.bin artifacts/
          cp ~/.platformio/packages/framework-arduinoespressif32/tools/partitions/boot_app0.bin artifacts/
          cp .pio/build/ulanzi/firmware.bin artifacts/
          cp .pio/build/ulanzi/littlefs.bin artifacts/

      # Build Debug
      - name: Enable all debug flags in platformio.ini
        run: |
          sed -i 's/#    -DDEBUG_BG_SOURCE/    -DDEBUG_BG_SOURCE/' platformio.ini
          sed -i 's/#    -DDEBUG_DISPLAY/    -DDEBUG_DISPLAY/' platformio.ini
          sed -i 's/#    -DDEBUG_BRIGHTNESS/    -DDEBUG_BRIGHTNESS/' platformio.ini
          sed -i 's/#    -DDEBUG_ALARMS/    -DDEBUG_ALARMS/' platformio.ini
          sed -i 's/#    -DDEBUG_MEMORY/    -DDEBUG_MEMORY/' platformio.ini
      - name: Build Debug Project
        run: pio run --environment ulanzi_debug
      - name: Build Debug Filesystem Image
        run: pio run --target buildfs --environment ulanzi_debug
      - name: Collect Debug artifacts
        run: |
          mkdir artifacts-debug
          cp .pio/build/ulanzi_debug/bootloader.bin artifacts-debug/
          cp .pio/build/ulanzi_debug/partitions.bin artifacts-debug/
          cp ~/.platformio/packages/framework-arduinoespressif32/tools/partitions/boot_app0.bin artifacts-debug/
          cp .pio/build/ulanzi_debug/firmware.bin artifacts-debug/
          cp .pio/build/ulanzi_debug/littlefs.bin artifacts-debug/

      # Archive both
      - name: Prepare combined artifacts
        run: |
          mkdir -p combined-artifacts/release combined-artifacts/debug
          cp artifacts/*.bin combined-artifacts/release/
          cp artifacts-debug/*.bin combined-artifacts/debug/
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: combined-artifacts/
          retention-days: 1

  deploy:
    name: Deploy on Github Pages
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: firmware
          path: artifacts
      - name: Setup artifacts directories and files
        run: |
          mkdir -p www/artifacts www/debug/artifacts
          cp artifacts/release/*.bin www/artifacts/
          cp artifacts/debug/*.bin www/debug/artifacts/
      - name: Copy debug manifest
        run: cp www/debug/manifest-debug.json www/debug/manifest.json
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload complete www directory with both release and debug
          path: "www"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
